h2{
    font-family: Georgia;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(65, 225, 185);
}

#container{
    width: 500px;
    margin: 0 auto;
    
}


form{
    background-color: rgb(35, 142, 133);
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

input{
    width: 100%;
    height: 30px;
    padding-left: 10px ;
    border: none;
    flex-grow: 1;
    outline: 0;
}

button{
    background-color:white;
    border: none;
    outline: 0;
    color: lightseagreen;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    color: green;
}

#tasks{
    width: 98%;
    background-color:white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    height: 100%; 
}

ul{
    padding-left: 0;
    list-style: none;
}

li{
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: gray;
    font-size: 1.2rem;
}

i{
    pointer-events: none;
}

.clearAll{

    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding:  10px 3px;
    font-size: 1rem;
}

.clearAll:hover{
    color: red;
}


.task-list{
    flex-grow: 1;
}

/* Innovation part to delete the task in animated form */
.list-item{
    transition: all 0.3s ease-out;
}

.task-list-fall{
    transform: translateX(5rem);
    opacity: 0;
}

.deleteButton:hover{
    color: red;
}

